<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Dashboard</title>
</head>

<body>
    <main class="container">
        <nav class="tabs">
            <div>
                <a class="tabs__tab--selected" href="">To-do</a>
                <a class="tabs__tab" href="">Done</a>
            </div>
            <button class="button--primary">Přidat nový úkol +</button>
        </nav>

        <article class="todo">
            <div>
                <img src="" class="todo__img" alt="">
                <h1 class="todo__headline">nadpis</h1>
                <p class="todo__description">description</p>
            </div>
            <div>
                <button class="button--success">Hotovo</button>
                <button class="button--error">Hotovo</button>
            </div>
        </article>
        <article class="todo">
            <div>
                <img src="" class="todo__img" alt="">
                <h1 class="todo__headline">nadpis</h1>
                <p class="todo__description">description</p>
            </div>
            <div>
                <button class="button--success">Hotovo</button>
                <button class="button--error">Hotovo</button>
            </div>
        </article>
        <article class="todo--done">
            <div>
                <img src="" class="todo__img" alt="">
                <h1 class="todo__headline">nadpis</h1>
                <p class="todo__description">description</p>
            </div>
            <div>
                <button class="button--success">Hotovo</button>
                <button class="button--error">Hotovo</button>
            </div>
        </article>
        <article class="todo">
            <div>
                <img src="" class="todo__img" alt="">
                <h1 class="todo__headline">nadpis</h1>
                <p class="todo__description">description</p>
            </div>
            <div>
                <button class="button--success">Hotovo</button>
                <button class="button--error">Hotovo</button>
            </div>
        </article>
    </main>


    <div class="modal-overlay">
        
        <form action="" class="form">
            <h1 class="form__headline">Nový úkol</h1>
            <input type="text">
            <input type="text">
            <button class="button--primary" type="submit">Přidat</button>
        </form>

    </div>


</body>

</html>