<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Login</title>
</head>

<body>

    <head class="header">
    </head>

    <main class="container--center">
        <form action="" class="form">
            <h1 class="form__headline">Přihlásit se</h1>
            <input type="text" name="email" placeholder="Email" class="input">
            <input type="text" name="Password" placeholder="Heslo">
            <button class="button--primary" type="submit">Přihlášení</button>
            <div class="form__footer">
                <p>Nemáte účet? <a href="">Vytvořte si ho</a></p>
            </div>
        </form>
    </main>

</body>

</html>