main{
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-image: url('/PCS2023/CSS2/img/Mainimage.png');
    height: 60vh;
}

.cta{
    display: flex;
    justify-content: center;
}
